*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 500px;
    height: 300px;
    background-color: rgba(33, 55, 184, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}